.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo transparente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-family: Arial, sans-serif; /* Cambio de la fuente */
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #041562; /* Color de texto */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #041562; /* Color de texto */
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #11468F;
    color: #EEEEEE;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #041562;
  }
  