.custom-navbar {
  padding: 20px 20px;
}

.navbar-item a {
  color: #EEEEEE; /* Color de texto predeterminado */
  text-decoration: none; /* Quitamos el subrayado de los enlaces */
  transition: color 0.3s ease; /* Agregamos transición para suavizar el cambio de color */
}

.navbar-item a:active {
  color: #DA1212; /* Color de texto cuando está seleccionado */
}

.navbar-item a:not(:active):hover {
  color: #EEEEEE; /* Color de texto cuando no está seleccionado y se hace hover */
}



  
  
  